In [247]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
df = pd.read_csv('emotions.csv')
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing, metrics

In [248]:
df

    GROUP  posemo  negemo   anx  anger   sad
0       0    4.98    0.47  0.00   0.12  0.12
1       0    4.71    1.22  0.24   0.41  0.24
2       0    2.65    1.11  0.00   0.60  0.09
3       0    3.55    2.03  0.00   0.51  0.51
4       1    1.19    2.50  0.00   1.78  0.24
5       1    1.26    0.84  0.00   0.42  0.42
6       1    2.84    0.87  0.00   0.22  0.00
7       0    4.71    0.87  0.17   0.09  0.35
8       0    4.01    1.18  0.00   0.59  0.24
9       0    5.14    1.61  0.06   0.58  0.13
10      0    3.51    1.90  0.00   0.44  0.29
11      0    3.91    0.43  0.00   0.00  0.22
12      1    2.73    2.34  0.00   1.76  0.00
13      1    1.90    0.00  0.00   0.00  0.00
14      1    1.62    6.33  0.16   5.03  0.16

In [249]:
df.groupby('GROUP').mean()

         posemo    negemo       anx     anger       sad
GROUP
0      4.130000  1.202222  0.052222  0.371111  0.243333
1      1.923333  2.146667  0.026667  1.535000  0.136667

In [252]:
X = df.drop (['GROUP'],axis= 1)

In [253]:
X.head()

   posemo  negemo   anx  anger   sad
0    4.98    0.47  0.00   0.12  0.12
1    4.71    1.22  0.24   0.41  0.24
2    2.65    1.11  0.00   0.60  0.09
3    3.55    2.03  0.00   0.51  0.51
4    1.19    2.50  0.00   1.78  0.24

In [254]:
Y = df.GROUP
Y.tail()

10    0
11    0
12    1
13    1
14    1
Name: GROUP, dtype: int64

In [255]:
Y = np.ravel(Y)

In [278]:
Y

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [272]:
log_model = LogisticRegression()
log_model.fit(X,Y)
log_model.score(X,Y)

0.8666666666666667

In [277]:
Y.mean()
#Null Error Rate = 1 - 0.40000000000000002 = 0.6

0.40000000000000002

In [274]:
coeff_df = DataFrame(list(zip(X.columns,np.transpose(log_model.coef_))))

In [275]:
coeff_df
# Positive Coefficient corresponds to increase in the likelihood of an individual being schizophrenic
# Negative Coefficient corresponds to  less likelihood of an individual being schizophrenic

        0                   1
0  posemo   [-0.726263476847]
1  negemo    [0.244689450024]
2     anx  [-0.0434964730571]
3   anger    [0.648091656797]
4     sad   [-0.164649850047]

In [276]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [267]:
log_model = LogisticRegression()

In [268]:
log_model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [279]:
class_predict = log_model.predict(X_test)

In [280]:
print (metrics.accuracy_score(Y_test,class_predict))

0.75

In [ ]:
#