In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
df = pd.read_csv('pronouns.csv')
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing, metrics

In [4]:
df

    GROUP      i    we   you  shehe  they
0       0   4.86  0.71  4.03   1.07  0.59
1       0   9.42  0.57  3.08   1.54  0.32
2       0   7.34  1.37  2.65   3.16  1.37
3       0   7.11  2.03  1.02   6.60  1.52
4       1   8.68  0.12  5.71   2.50  0.36
5       1   8.79  0.00  5.86   1.67  0.00
6       1   6.55  0.00  1.75   0.44  1.09
7       0   6.54  1.48  5.41   0.00  0.78
8       0   8.02  0.94  5.54   3.77  0.12
9       0   7.59  1.22  3.34   3.02  0.84
10      0  11.42  0.29  2.64   0.88  0.44
11      0   6.52  1.09  5.65   1.96  1.52
12      1   7.62  1.37  6.45   2.34  0.00
13      1  15.24  0.00  5.71   0.00  1.90
14      1   7.79  0.81  3.08   5.19  0.32

In [5]:
df.groupby('GROUP').mean()

              i        we       you     shehe      they
GROUP
0      7.646667  1.077778  3.706667  2.444444  0.833333
1      9.111667  0.383333  4.760000  2.023333  0.611667

In [33]:
X = df.drop (['GROUP'],axis= 1)
X.head()

      i    we   you  shehe  they
0  4.86  0.71  4.03   1.07  0.59
1  9.42  0.57  3.08   1.54  0.32
2  7.34  1.37  2.65   3.16  1.37
3  7.11  2.03  1.02   6.60  1.52
4  8.68  0.12  5.71   2.50  0.36

In [34]:
Y = df.GROUP
Y.tail()

10    0
11    0
12    1
13    1
14    1
Name: GROUP, dtype: int64

In [36]:
log_model = LogisticRegression()
log_model.fit(X,Y)
log_model.score(X,Y)

0.80000000000000004

In [37]:
Y.mean()

0.40000000000000002

In [38]:
coeff_df = DataFrame(list(zip(X.columns,np.transpose(log_model.coef_))))

In [39]:
coeff_df

       0                   1
0      i  [0.00727916408348]
1     we    [-1.22447762322]
2    you    [0.216039702642]
3  shehe   [0.0472636653813]
4   they   [-0.304343858529]

In [40]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [41]:
log_model = LogisticRegression()

In [42]:
log_model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
class_predict = log_model.predict(X_test)

In [44]:
print (metrics.accuracy_score(Y_test,class_predict))

0.75