In [81]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
df = pd.read_csv('social.csv')
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing, metrics

In [82]:
df

    GROUP  social  family  friend  female  male  leisure  home  money  relig
0       0   14.35    0.12    0.24    0.59  0.95     0.83  0.36   0.47   0.00
1       0   10.63    0.73    0.65    1.06  1.30     1.06  1.06   0.32   0.24
2       0   13.82    0.26    0.26    0.26  3.33     0.34  0.85   0.34   0.51
3       0   20.81    0.00    0.51    0.51  7.11     0.51  0.00   1.02   0.00
4       1   13.67    0.36    0.12    0.48  2.97     0.83  1.90   0.83   0.12
5       1   11.30    0.00    0.00    0.00  2.09     0.42  0.42   0.00   1.26
6       1    7.21    0.00    0.00    0.22  0.44     0.44  0.00   0.44   0.22
7       0   12.03    0.00    0.09    0.26  0.26     0.17  0.26   1.31   0.26
8       0   17.22    1.65    0.24    3.77  0.71     0.24  0.35   0.35   0.00
9       0   14.73    1.35    0.90    3.47  0.96     0.90  0.13   0.45   0.32
10      0    7.17    0.44    0.15    0.88  0.29     0.88  0.88   0.00   0.00
11      0   16.74    1.30    0.22    1.74  1.09     1.09  0.43   0.65   0.00
12      1   15.62    1.37    0.20    2.15  1.37     0.59  0.20   0.00   0.98
13      1   19.05    0.95    0.00    0.00  0.95     0.95  0.00   0.95   0.00
14      1   13.80    0.16    0.32    4.55  0.81     0.65  0.00   2.11   0.00

In [31]:
df.groupby('GROUP').mean()

,social,family,friend,female,male,leisure,home,money,relig
GROUP,,,,,,,,,
0,14.166667,0.650000,0.362222,1.393333,1.777778,0.668889,0.48,0.545556,0.147778
1,13.441667,0.473333,0.106667,1.233333,1.438333,0.646667,0.42,0.721667,0.430000

In [68]:
X = df.drop (['GROUP'],axis= 1)
X.head()

   social  family  friend  female  male  leisure  home  money  relig
0   14.35    0.12    0.24    0.59  0.95     0.83  0.36   0.47   0.00
1   10.63    0.73    0.65    1.06  1.30     1.06  1.06   0.32   0.24
2   13.82    0.26    0.26    0.26  3.33     0.34  0.85   0.34   0.51
3   20.81    0.00    0.51    0.51  7.11     0.51  0.00   1.02   0.00
4   13.67    0.36    0.12    0.48  2.97     0.83  1.90   0.83   0.12

In [83]:
Y = df.GROUP
Y.tail()

10    0
11    0
12    1
13    1
14    1
Name: GROUP, dtype: int64

In [84]:
Y = np.ravel(Y)

In [85]:
Y

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [86]:
log_model = LogisticRegression()
log_model.fit(X,Y)
log_model.score(X,Y)

0.73333333333333328

In [87]:
Y.mean()
#Null Error Rate = 1 - 0.40000000000000002 = 0.6

0.40000000000000002

In [88]:
coeff_df = DataFrame(list(zip(X.columns,np.transpose(log_model.coef_))))

In [89]:
coeff_df

         0                   1
0   social  [-0.0245223910021]
1   family   [-0.176057157534]
2   friend    [-0.66882689935]
3   female  [-0.0356263701306]
4     male   [-0.112176690886]
5  leisure   [0.0692555166862]
6     home  [-0.0879097493549]
7    money    [0.436201361277]
8    relig    [0.740316275864]

In [101]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [102]:
log_model = LogisticRegression()

In [103]:
log_model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [104]:
class_predict = log_model.predict(X_test)

In [105]:
print (metrics.accuracy_score(Y_test,class_predict))

0.5